{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center;">Want to Know about me?</h1>
    <br>
    <div class="row">
        <div class="col-md-4" id="dp">
            <img src="static/assets/Utkarsh.jpg" class="img-fluid" style="border-radius: 50%;" alt="Utkarsh's Pic">
            <h2 style="text-align: center;margin-top:5%;">Hello all I'm Utkarsh</h2>
        </div>
        <div class="col-md-8" id="content">
            <h2 style="text-align: justify;">Hi! I am Utkarsh Sahu,a sophomore at Delhi Technological University.
            I love Coding and Development. This is an academic project made for course <strong>Modern Application Development-I</strong> 
            </h2>
            <br>
            <h2 >
                These are few of my social media handles, do connect!!!
                <br>
                <a href="https://www.linkedin.com/in/utkarsh-sahu-he-him-5b21541b2/">LinkedIn</a><br>
                <a href="https://twitter.com/utkarsh4tech">Twitter</a><br>
                <a href="https://github.com/SahuUtkarsh03">Github</a><br>
            </h2>
        </div>
    </div>
{% endblock %}
