{% extends 'base.html' %}

{% block content %}

    <!-- FLASH MESSAGES -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>    
    {% endfor %}

    <!-- Add Card -->
        <div style="margin-left: 25%; margin-right: 25%;" >
            <h1 style="text-align:center;">{{formtitle}} Card</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <br>
                {{ form.question(class='form-control') }}
                <br>
                {{ form.answer(class='form-control') }}
                <br>
                {{ form.submit(class='form-control btn btn-primary') }}
            </form>
        </div>

        <!-- A rich text editor -->
        {{ckeditor.load()}}
        {{ckeditor.config(name="answer")}}
{% endblock %}