{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 style="text-align: center;">Welcome to Flas(h/k) Cards</h1>
    <br>
    <h2 style="text-align: center;">You can use this app for learning a new language!!!</h2>
    <h2 style="text-align: center;">Login and create multiple decks for different languages</h2>
    <h2 style="text-align: center;">Then create multiple cards for different decks</h2>
    <h2 style="text-align: center;">Also review and track your progress</h2>
    <br>
    <h2 style="text-align: center;">Go to register page for being a registered user. <a href="{{ url_for('register') }}">Click here to Register!</a></h2>

{% endblock %}
