{% extends 'base.html' %}

{% block content %}
    <!-- FLASH MESSAGES -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>    
        {% endfor %}

    <!-- PASSWORD DON'T MATCH ERROR -->
        {% for error in form.password.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div> 
        {% endfor %}
            
    <!-- Register Form -->
        <div style="margin-left: 25%; margin-right: 25%;" >
            <h1 style="text-align:center;">Sign Up Form</h1>
            <form method="POST">
            {{ form.hidden_tag() }}
            <br>
            {{ form.firstname(class='form-control') }}
            <br> 
            {{ form.lastname(class='form-control') }}
            <br>
            {{ form.username(class='form-control') }}
            <br>
            {{ form.password(class='form-control') }}
            <br>
            {{ form.checkpassword(class='form-control') }}
            <br>
            {{ form.submit(class='form-control btn btn-primary') }}
            </form>
            <br>
            <h3 style="text-align: center;">Already have an account? Login please!! <a href="{{ url_for('login') }}">Click Here</a></h3>
        </div>
{% endblock %}