{% extends 'base.html' %}

{% block content %}

    <!-- FLASH MESSAGES -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>    
    {% endfor %}

    <!-- Review Card -->
    <div style=" margin-left: 25%; margin-right: 25%;">
        <h1 style="text-align: center;">Review Card</h1>
        <br>
        <h2 style="text-align: center;">Answer for this Card is: {{card.answer|safe}}</h2>
        <form method="POST" >
            {{ form.hidden_tag() }}
            <br>
            {{ form.rate(class='form-control') }}
            <br>
            {{ form.submit(class='form-control btn btn-primary') }}
        </form>
    </div>

{% endblock %}